body {
    --primary: #901C1C;
    --secondary: #D3573C;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: inline-block;
}

.header-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
}

.site-name {
    padding: 10px;
}

.site-name a {
    padding: 10px o o o;
    color: var(--primary);
    font-weight: bold;
    font-size: 3em;
    padding: 10px;
    text-decoration: none;
}

.photographe-name {
    color: var(--secondary);
    padding: 0 5px;
}

.photographe-locate {
    color: var(--primary);
    padding: 0 5px;
}

.tag {
    color: #525252;
    padding: 5px;
    font-size: 0.6em;
}

.hashtag {
    list-style: none;
    display: inline-block;
    padding: 5px 0;
    margin: 5px;
}

.hashtag a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 500;
    line-height: 16px;
    font-weight: bold;
    border: 0.5px solid #C4C4C4;
    border-radius: 30px;
    font-size: 7px;
    padding: 1px 7px;
    text-align: center;
}

.photographe-img {
    object-fit: cover;
    border-radius: 100px;
    margin: auto;
    Width: 50%;
    display: block;
}

.image img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 100px;
    position: absolute;
    top: 80px;
    right: 40px
}

.image-select img,
video {
    width: 95%;
    height: 200px;
    padding: 10px;
    object-fit: cover;
}

.descr-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photographe-name {
    font-size: 1.6em;
    margin: 0;
}

.photographe-locate {
    font-size: 1em;
    padding: 10px 0 10px 0;
}

.photographe-descr {
    font-size: 0.7em;
    padding: 0 0 5px 0;
}

.hashtag {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.hashtag a {
    font-size: 0.6em;
}

.compteur {
    color: var(--primary);
}

.bouton {
    position: fixed;
    bottom: 30px;
    margin-left: 25%;
    width: fit-content;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: var(--primary);
}

.select-menu {
    display: none;
}

.modal {
    display: none;
}

.photo-container {
    width: 100%;
    margin: auto;
}

@media only screen and (min-width: 1023px) {
    body {
        box-sizing: border-box;
        width: 90%;
        margin: auto;
    }
    .site-name {
        font-size: 2em;
    }
    .site-name img {
        width: 3%;
    }
    .header-container {
        position: relative;
        margin-top: 50px;
        margin-left: 50px;
    }
    .photographe-name {
        font-size: 2.5em;
    }
    .photographe-locate {
        font-size: 1.5em;
        padding: 10px 0 10px 0;
    }
    .photographe-descr {
        font-size: 1.2em;
        padding: 0 0 10px 0;
    }
    .hashtag {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    .hashtag a {
        font-size: 0.9em;
    }
    button {
        position: absolute;
        left: 20%;
    }
    button:hover {
        transform: scale(1.1);
        transition-duration: 0.3s;
        cursor: grab;
    }
    .bouton {
        width: fit-content;
        padding: 10px;
    }
    .select-menu {
        display: block;
    }
    .select-tri {
        background-color: #901C1C;
        color: #fff;
        text-decoration: none;
        width: 8%;
        font-size: 1em;
        padding: 10px;
        font-family: 'DM Sans', sans-serif;
    }
    .select-tri option {
        height: 20px;
    }
    .photo-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .image-select {
        width: 33%;
    }
    .image-select img {
        object-fit: cover;
        width: 350px;
        height: 300px;
        border-radius: 5px;
        padding: 20px;
    }
}